*** Manufacturer Load - BRD Merge

This program merges BRD data with a dataset that already holds a merge of Wikipedia and RailUK data

In [1]:

import os
import pandas as pd

In [9]:
DATAIO_DIR = os.path.join("D:\\Data", "TPAM")
df = pd.read_csv(os.path.join(DATAIO_DIR, "Manufacturer_Load_Intermediate.csv"), header=0, encoding='utf-8')
df.rename(columns={
                df.columns[1]:"Wikipedia_Manufacturer_Name",
                df.columns[2]:"RailUK_Code",
                df.columns[3]:"BRD_Code",
                df.columns[4]:"RailUK_Name",
        }, inplace=True)
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Wikipedia_slug               148 non-null    object
 1   Wikipedia_Manufacturer_Name  151 non-null    object
 2   RailUK_Manufacturer_Code     64 non-null     object
 3   BRD_Manufacturer_Code        65 non-null     object
 4   RailUK_Manufacturer_Name     61 non-null     object
 5   Notes                        14 non-null     object
dtypes: object(6)
memory usage: 7.2+ KB
None
                      Wikipedia_slug          Wikipedia_Manufacturer_Name  \
0                    /wiki/Alan_Keef                            Alan Keef
1         /wiki/Albert_Barnes_%26_Co                   Albert Barnes & Co
2  /wiki/Andrew_Barclay_Sons_%26_Co.            Andrew Barclay Sons & Co.
3          /wiki/Armstrong_Whitworth                  Armstrong Whitworth
4        /wiki/Ashford_railway_works  Ashford Works (SR/British Railways)

  RailUK_Manufacturer_Code BRD_Manufacturer_Code  \
0                      NaN                   NaN
1                      NaN                   NaN
2                       AB                    AB
3                       AW                    AW
4                       AS                    AS

                      RailUK_Manufacturer_Name  \
0                                          NaN
1                                          NaN
2  Andrew Barclay, Sons & Co. Ltd., Kilmarnock
3                          Armstrong Whitworth
4          Ashford Works (SR/British Railways)

                                               Notes
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4  Wikipedia Category:Railway_workshops_in_Great_...

In [11]:
BRD_filename = os.path.join(DATAIO_DIR, "Manufacturer_Extract_BRD.csv")

df_BRD = pd.read_csv(BRD_filename, header=0, encoding='utf-8')
df_BRD.rename(columns={df_BRD.columns[0]:"BRD_Code",}, inplace=True)
df_BRD.rename(columns={df_BRD.columns[1]:"BRD_Name",}, inplace=True)
df_BRD.drop(['map', 'web'], axis=1, inplace=True) #Drop the map and the web columns
print(df_BRD.info())
print(df_BRD.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   BRD_Manufacturer_Code  99 non-null     object
 1   BRD_Manufacturer_Name  99 non-null     object
 2   location               18 non-null     object
 3   date_opened            15 non-null     object
 4   date_closed            14 non-null     object
 5   owner_type             77 non-null     object
 6   no_steam_built         46 non-null     float64
 7   no_diesel_built        26 non-null     float64
 8   no_electric_built      9 non-null      float64
dtypes: float64(3), object(6)
memory usage: 7.1+ KB
None
  BRD_Manufacturer_Code                        BRD_Manufacturer_Name location  \
0                    AB  Andrew Barclay, Sons & Co. Ltd., Kilmarnock      NaN
1                    AN                           Andrews, Barr & Co      NaN
2                    AW                          Armstrong Whitworth      NaN
3                    AS                                Ashford Works      NaN
4                   AEI             Associated Electrical Industries      NaN

  date_opened date_closed owner_type  no_steam_built  no_diesel_built  \
0  1859-12-31         NaN    Private            38.0             50.0
1         NaN         NaN    Private             NaN              NaN
2  1897-00-00         NaN    Private           550.0              NaN
3         NaN         NaN        NaN           396.0             33.0
4         NaN         NaN    Private             NaN              NaN

   no_electric_built
0                NaN
1                NaN
2                NaN
3                2.0
4                NaN

In [12]:
df_merge = pd.merge(df, df_BRD, how="outer", on="BRD_Code")

In [13]:
df_merge.to_csv(os.path.join(DATAIO_DIR, "Manufacturer_Load_Final.csv"), encoding='utf-8')